force-app/main/default/flows/Delete_Customer_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Decision_Split</name>
        <label>Decision Split</label>
        <locationX>539</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Delete_Customer_Team_Member_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordstoDeletev2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Delete_Team_Member_Request_record</targetReference>
            </connector>
            <label>ID Is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Delete Customer Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Customer Team Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Customer_Team_Member_records</name>
        <label>Delete Customer Team Member records</label>
        <locationX>729</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>Remove_Customer_Team_Delete_Request</targetReference>
        </connector>
        <inputReference>RecordstoDeletev2</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Customer_Team_Delete_Request</name>
        <label>Remove Customer Team Delete Request</label>
        <locationX>975</locationX>
        <locationY>180</locationY>
        <inputReference>DeleteTeamMemberRecord</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Delete_Team_Member_Request_record</name>
        <label>Remove Delete Team Member Request record</label>
        <locationX>863</locationX>
        <locationY>411</locationY>
        <inputReference>DeleteTeamMemberRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Customer_Team_Deletion_Record</name>
        <label>Get Customer Team Deletion Record</label>
        <locationX>284</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_to_CustomerTeamMember</targetReference>
        </connector>
        <object>CustomerTeamDeletionRequests__c</object>
        <outputReference>DeleteTeamMemberRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User_to_Delete__c</queriedFields>
        <queriedFields>Customer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Match_to_CustomerTeamMember</name>
        <label>Match to CustomerTeamMember</label>
        <locationX>525</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Split</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeleteTeamMemberRecord.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeleteTeamMemberRecord.User_to_Delete__c</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>RecordstoDeletev2.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>Get_Customer_Team_Deletion_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>DeleteTeamMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerTeamDeletionRequests__c</objectType>
    </variables>
    <variables>
        <name>RecordstoDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordstoDeletev2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
