force-app/main/default/flows/Update_Retail_PRM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Update Retail PRM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Retail PRM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_PRM</name>
        <label>Update PRM</label>
        <locationX>721</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>RecordsUpdated</targetReference>
        </connector>
        <filters>
            <field>Retail_Banker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsertoReplace.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Retail_Banker__c</field>
            <value>
                <elementReference>UpdatedRetailUser.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>RecordsUpdated</name>
        <label>RecordsUpdated</label>
        <locationX>978</locationX>
        <locationY>166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;All Customers where {!UsertoReplace.recordName} is the Retail Banker PRM have been updated to {!UpdatedRetailUser.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;img src=&quot;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQBeg7OlueFK_4xUCJVaxoYScDZpz6J16ut2nS5h2st9i9FE-I&amp;amp;s&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Update</name>
        <label>Update Retail PRM</label>
        <locationX>315</locationX>
        <locationY>85</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PRM</targetReference>
        </connector>
        <fields>
            <name>UsertoReplace</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Retail_Banker__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which Retail Banker should be Replaced</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserID.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UpdatedRetailUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Retail_Banker__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who should replace the previous user?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserID.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UserID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
